* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: white;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

.container-aside {
    max-width: 180px;
    margin: 0 auto;
}

aside {
    width: 200px;
    height: calc(100vh - 80px);
    color: rgba(255, 255, 255, 0.7);
    background-color: black;
    float: left;
}

.mobile-icon {
    display: none;
}

.menu-aside li {
    margin-bottom: 10px;
    list-style-type: none;
    color: rgba(255, 255, 255, 0.7);
}

.menu-aside a {
    font-size: 12px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}

.menu-aside img {
    padding-right: 5px;
    vertical-align: middle;
}

.home-aside:hover, .bottom-list a:hover {
    color: white;
}

.top-list a  {
    text-transform: capitalize;
}

.bottom-list {
    margin-top: 25px;
}

.bottom-list a, .bottom-list p:first-child {
    text-transform: uppercase;
}

.bottom-list p {
    font-size: 12px;
    text-transform: capitalize;
}

.app {
    border-bottom: 1px solid white;
    margin-top: 220px;
    padding-bottom: 5px;
}

.user {
    padding-top: 5px;
}

.download i {
    vertical-align: middle;
}

.download span {
    padding-left: 10px;
    font-size: 12px;
}

main {
    width: calc(100% - 200px);
    height: calc(100vh - 80px);
    background: linear-gradient(to bottom, #33ccff 0%, #006600 100%);
    float: left;
    overflow: auto;
}

.menu-music {
    text-transform: uppercase;
    line-height: 50px;
}

.hamburger-menu {
    display: none;
}

.menu-music ul {
    list-style-type: none;
    text-align: center;
    position: relative;
}

.menu-music li {
    font-size: 12px;
    font-weight: 700;
    margin-right: 25px;
    vertical-align: middle;
    display: inline-block;
}

.menu-music a {
    text-decoration: none;
    color: white;
}

.menu-music a:hover {
    border-bottom: 2px solid green;
    padding-bottom: 5px;
}

.box-music {
    margin-top: 50px;
}

.box-music h1, .songs p:first-child {
    font-weight: 700;
    margin-bottom: 10px;
}

.album {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.artist {
    max-height: 150px;
    max-width: 150px;
    margin-right: 6px;
    margin-top: 10px;
    display: inline-block;
    cursor: pointer;
}

.artist img:hover {
    transform: scale(1.1);
}

.play i {
    font-size: 70px;
    opacity: 0.8;
}

.songs {
    padding-top: 10px;
}

.songs p {
    max-width: 150px;
    text-transform: capitalize;
    font-size: 12px;
}


.songs p:first-child {
    cursor: pointer;
}

.artist img, .album-footer img {
    width: 100%;
    height: 100%;
}

footer {
    width: 100%;
    height: 80px;
    color: rgba(255, 255, 255, 0.7);
    background: linear-gradient(90deg, rgba(29,29,29,1) 0%, rgba(43,43,50,1) 35%, rgba(60,72,74,1) 100%);
    float: left;
}

.footer-left {
    height: 100%;
    width: calc(100% / 3);
    float: left;
    display: flex;
    font-size: 12px;
}

.album-footer {
    height: 60px;
    width: 60px;
    margin: 10px;
}

.footer-song {
    width: 20%;
}

.footer-song {
    padding-top: 20px;
    line-height: 20px;
    text-transform: capitalize;
}

 .footer-left span {
     margin-top: 30px;
 }

.footer-center {
    height: 100%;
    width: calc(100% / 3);
    float: left;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.player ul {
    list-style-type: none;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
}

.player a {
    color: rgba(255, 255, 255, 0.7);
}

.slider {
    width: 80%;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.7);
    -webkit-appearance:none;
}

.slider::-webkit-slider-thumb, .volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: white;
    cursor: pointer;
    border-radius: 50%;
}

.footer-center span {
    font-size: 10px;
}

.footer-right {
    font-size: 12px;
    height: 100%;
    width: calc(100% / 3);
    float: left;
    text-align: right;
    padding-top: 30px;
}

.footer-right span {
    margin-right: 10px;
    cursor: pointer;
}

.volume {
    width: 20%;
    height: 3px;
    margin-right: 10px;
    -webkit-appearance:none;
}

@media (max-width: 767px) {
    aside {
        width: 60px;
        text-align: center;
    }

    .top-list a, .bottom-list, .download span, .spotify-icon img {
        display: none;
    }

    .mobile-icon {
        display: block;
        margin-bottom: 25px;
        margin-top: 18px;
    }

    .download {
        margin-top: 330px;
    }

    .music {
        width: calc(100% - 60px);
        justify-content: center;
    }

    .box-music h1 {
        text-align: center;
    }

    .album {
        justify-content: center;
    }

    .album .box-artist {
        margin-right: 15px;
    }

    .menu-music ul, .footer-song, .footer-right, .input span:last-child {
        display: none;
    }

    .footer-center {
        width: 65%;

    }

    .player {
        width: 90%;
    }

    .slider {
        width: 80%;
    }

}

/* @media (max-width: 768px) {
    aside {
        width: 60px;
        text-align: center;
    }

    .mobile-icon {
        display: block;
        margin-bottom: 25px;
        margin-top: 18px;
    }

    main {
        width: calc(100% - 60px);
    }

    .album {
        justify-content: flex-start;
        margin-left: 35px;
}
    }

    h1 {
        text-align: center;
    }

    .app {
        border-bottom: 0;
    }

    .app span {
        border-bottom: 1px solid white;
    }

    .top-list a, .bottom-list, .download span, .spotify-icon img {
        display: none;
    }

    .download {
        margin-top: 330px;
    }

} */

@media all and (min-width: 768px) and (max-width: 992px) {

    .menu-aside {
        display: flex;
        flex-direction: column;
    }

    .spotify-icon img {
        display: block;
    }

    .app {
        margin-top: 210px;
    }

    main {
        width: calc(100% - 200px);
    }

    .menu-music {
        padding-top: 12px;
    }

    .menu-music ul {
        display: none;
    }

    .album {
        justify-content: center;
    }

    .album .box-artist {
        margin-right: 15px;
    }

    h1 {
        text-align: center;
    }
    
    .slider {
        width: 82%;
    }


}
